$auth-sprite: "assets/images/auth/1x/*.png?padding=20&algorithm=diagonal&name=auth2";

.icon {
  background-image: spritus-url($auth-sprite);
  background-size: spritus-size($auth-sprite);
  height: spritus-height($auth-sprite);
  width: spritus-width($auth-sprite);
}

.icon-google {
  background-position: spritus-position($auth-sprite, "google.png");
  height: spritus-height($auth-sprite, "google.png");
  width: spritus-width($auth-sprite, "google.png");
}

.icon-vk {
  background-position: spritus-position($auth-sprite, "vk");
  height: spritus-height($auth-sprite, "vk");
  width: spritus-width($auth-sprite, "vk");
}

.icon-twitter {
  spritus:phw($auth-sprite, "twitter");
}

//i.icon {
//  spritus:each($auth-sprite);
//}